{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-4 col-4 shadow border rounded p-3">
            <h2 class="text-center">Delete Section: {{section.section_name}}</h2>
            <hr>
            <form action="/delete/sections/{{section.section_id}}" class="d-flex justify-content-evenly" method="post">
                <button class="btn btn-danger" type="submit">Delete Section</button>
                <a href="/sections" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>

</div>
{%endblock%}