{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between g-3 p-2 align-items-center me-5">
    <h1>Section List</h1>
    {% if session.get('role') == 'admin' %}
    <a class="btn btn-primary" href="/create/sections">Add Section</a>
    {%endif%}
</div>

<div>
    <ul>
        {% for section in sections %}
        <div class="d-flex justify-content-between mx-2 p-2 g-2 col-6">

            <li>{{section.section_id}}.{{section.section_name}}</li>
            {% if session.get('role') == 'admin' %}
            <div class="d-flex g-3">
                <a href="/edit/sections/{{section.section_id}}" class="mx-2">
                    <span>edit</span>
                </a>
                <a href="/delete/sections/{{section.section_id}}" class="mx-2">
                    <span>delete</span>
                </a>
            </div>
            {% endif%}

        </div>
        {% endfor %}
    </ul>
</div>

{%endblock%}