{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-4 col-4 shadow border rounded p-3">
            <h2 class="text-center">Edit Book</h2>
            <hr>
            <form action="/edit/books/{{book.book_id}}" method="post">
                <div class="mb-3">
                    <label for="bookTitle" class="form-label">Book Title</label>
                    <input type="text" class="form-control" name="bookTitle" id="bookTitle" placeholder="Book 1 title"
                        value="{{book.title}}" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" name="description" id="description"
                        placeholder="Book description" value="{{book.description}}" required>
                </div>
                <div class="mb-3">
                    <label for="bookContent" class="form-label">Book Content</label>
                    <input type="text" class="form-control" name="bookContent" id="bookContent"
                        placeholder="Book Content" value="{{ book.content}}" required>
                </div>
                <div class="mb-3">
                    <label for="authorName" class="form-label">Author Name</label>
                    <input type="text" class="form-control" name="authorName" id="authorName" placeholder="Author 1"
                        value="{{book.author}}" required>
                </div>
                <div class="mb-3">
                    <label for="sectionName" class="form-label">Select Section</label>
                    <select type="text" class="form-control" name="sectionId" id="sectionId" placeholder="Author 1"
                        required>
                        <option value="">---Select Section----</option>
                        {% for section in available_sections %}
                        <option value="{{section.section_id}}" {{ "selected" if book.section_id==section.section_id
                            else "" }}>{{section.section_name}}</option>
                        {%endfor%}
                    </select>
                </div>
                <button class="btn btn-success w-100" type="submit">Update Book</button>
            </form>
        </div>
    </div>

</div>
{%endblock%}