{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between g-3 p-2 align-items-center me-5">
    <h1>Book List</h1>
    {% if session.get('role') == 'admin' %}
    <a class="btn btn-primary" href="/create/books">Add Book</a>
    {%endif%}
</div>

<div class="row mx-2 p-2">
    {% for book in books %}
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <form action="/request/books/{{book.book_id}}" method="post">
                    <h5 class="card-title">{{ book.title}}</h5>
                    <p class="card-text">{{book.description}}</p>
                    <button type="submit" class="btn btn-primary">Request Book</button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock%}

{% block script %}

<script>

</script>


{% endblock %}